<link rel="stylesheet" href="/css/editor/challenge_description.css" />

<div class="challenge-description-container" style="margin-left: 20px;" > 
    <div id="challenge-title"> 
        <h1> <%= editor_data.challenge_title %> </h1>
     </div>
    <div id="challenge-objective"> 
        <h4> Objective </h4>
        <p> <%= editor_data.challenge_objective %> </p>
    </div> 
    <div id="challenge-task"> 
        <h4> Task </h4>
        <p> <%= editor_data.challenge_task %> </p>
    </div>
    <div id="challenge-input-format"> 
        <h4> Input Format </h4>
        <p> <%= editor_data.challenge_input_format %> </p>
    </div>
    <div id="challenge-output-format"> 
        <h4> Output Format </h4>
        <p> <%= editor_data.challenge_output_format %> </p>
    </div> 
</div>