<div class="reply-comment-container-wrapper">
    <img class="discussion-icon discussion-comment-user-icon" src="../<%= reply.userData.image %>"> </img>
    <div class="discussion-comment-container">
        <div class="discussion-comment-header">
            <div class="discussion-comment-user-name"> <%= reply.userData.username %> </div>
            <img src="/img/clock.svg"> </img>
            <div class="comment-timestamp"> <%= reply.time %> </div>
        </div>
        <div class="discussion-comment"> <%= reply.body %> </div>
        <footer class="discussion-comment-footer">
            <%= reply.votes %>
            <% if (session_valid) { %>
                <img id="up-arrow" src="/img/up-arrow.svg" onclick="increaseVote(<%= reply.id %>, 'forum_reply')"> </img>
                <img id="down-arrow" src="/img/down-arrow.svg" onclick="decreaseVote(<%= reply.id %>, 'forum_reply')"> </img>
                <div class="add-reply-button" replyBoxID="reply-box-<%= reply.id %>" onclick="showReplyBox(event, this)"> reply </div> 
            <% } %>
        </footer>
        <div id="reply-box-<%= reply.id %>" class="reply-box-container-wrapper">
            <% include reply-box.ejs %>
        </div>

        <div>
              <% reply.children.forEach(function(child){ %>
                    <div class="reply-comment-container-wrapper">
                        <img class="discussion-icon discussion-comment-user-icon" src="../<%= child.userData.image %>"> </img>
                        <div class="discussion-comment-container">
                            <div class="discussion-comment-header">
                                <div class="discussion-comment-user-name"> <%= child.userData.username %> </div>
                                <img src="/img/clock.svg"> </img>
                                <div class="comment-timestamp"> <%= child.time %> </div>
                            </div>
                            <div class="discussion-comment"> <%= child.body %> </div>
                            <footer class="discussion-comment-footer">
                                <%= child.votes %>
                                <% if (session_valid) { %>
                                <img id="up-arrow" src="/img/up-arrow.svg" onclick="increaseVote(<%= child.id %>, 'forum_reply')"> </img>
                                <img id="down-arrow" src="/img/down-arrow.svg" onclick="decreaseVote(<%= child.id %>, 'forum_reply')"> </img>
                                <div class="add-reply-button" replyBoxID="reply-box-<%= child.id %>" onclick="showReplyBox(event, this)"> reply </div> 
                                <% } %>
                            </footer>
                            <div id="reply-box-<%= child.id %>" class="reply-box-container-wrapper">
                                <% include reply-box.ejs %>
                            </div>
                        </div>
                    </div>
              <% });  %>
        </div>
    </div>
</div>
