<link rel="stylesheet" href="/css/forum/reply-box.css" />

<div id="reply-box-container">
    <div id="postId" name="postId" type="hidden" value="<%= data.id %>"> </div>
    <textarea id="reply"></textarea>
    <input style="margin-left:0px;" id="captcha" class="long-field" type="text" placeholder="Captcha" name="captcha"></input> <br/>
    <div id="captcha-error"></div>
        <%- data.captcha %>
    <div style="height:40px;" id="cancel-reply" onclick="newCaptcha()"> New Captcha </div>
    <div id="post-reply" onclick="submitReply('<%= data.id %>', <%= reply.id %>)"> reply </div>
    <div id="cancel-reply" onclick="hideReplyBox(event, this)" replyBoxID= "reply-box-<%= reply.id %>">
        cancel
    </div>
</div>


