<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>Learn JavaScript!</title>
  <meta name="author" content="Joshua Van Leeuwen and Charana Nandasena" />
  <meta name="copyright" content="Copyright Goes Here" />
  <meta name="description" content="A website to learn JavaScript!" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/home.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/forum.css" />
  <script type="text/javascript" src="js/cookies.js" async="async"> </script>
  <script type="text/javascript" src="js/forum_cookies.js" async="async"> </script>
</head>

<body>

<div class="sidebar navigation" id="header" >
  <ul>
    <li> <div> Learn Javascript </div> </li>
    <li><a href="index.html">Home</a></li>
    <li><a href="challenges.html">Challenges</a></li>
    <li><a href="forum.html">Forum</a></li>
    <li><a href="games.html">Games</a></li>
    <li id="login" ><a href="login.html">Log In</a></li>
    <li><a href="sign-up.html">Sign Up</a></li>
    <li> <img id="settings-image" src="img/settings-cog.svg" /> </li>
    <li> <img id="profile-image" src="img/death.jpg" /> </li>
  </ul>
</div>

<div class="sidebar navigation" id="question-nav" >
  <div id="select-container">
    <select id="category-select" >
      <option value="general" > General </option>
      <option value="challenge1" > Challenge1 </option>
    </select>
  </div>
  <ul>
    <li><a href="new">New</a></li>
    <li><a href="top">Top</a></li>
    <li><a href="hot">Hot</a></li>
  </ul>
</div>

<% forum_data.forEach(function(user){ %>
  <div class="sidebar">
    <ul>
      <li id="question-title"> <%= user.title %> </li>
      <li id="question-category"> <%= user.category %> </li>
      <li id="question-comments"> <%= user.comments %> </li>
      <li id="question-views"> <%= user.views %> </li>
      <li id="question-activity"> <%= user.activity %> </li>
    </ul>
  </div>
<% }) %>

<!-- 
<script type="text/javascript">
  var category_select = document.getElementById("category-select")
  category_select.onchange = function(){
    location.href = "/" + category_select.options[category_select.selectedIndex].value;
  }
</script>
-->
</body>
</html>