<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>Learn JavaScript!</title>
  <meta name="author" content="Joshua Van Leeuwen and Charana Nandasena" />
  <meta name="copyright" content="Copyright Goes Here" />
  <meta name="description" content="A website to learn JavaScript!" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/home.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/forum.css" />
</head>

<body>

<% include partials/header %>

<div class="sidebar navigation">
  <ul>
    <li>
      <div id="select-container">
        <select>
          <option value="general" > General </option>
          <option value="challenge1" > Challenge1 </option>
        </select>
      </div>
    </li>
    <li><a href="new">New</a></li>
    <li><a href="top">Top</a></li>
    <li><a href="hot">Hot</a></li>
  </ul>
</div>

<div class="topbar">
  <ul>
    <li id="question-title"> Title </li>
    <li id="question-category"> Category </li>
    <li id="question-comments"> Comments </li>
    <li id="question-views"> Views </li>
    <li id="question-activity"> Date </li>
  </ul>
</div>

<% Object.keys(data).forEach(function(k){ %>
<% var post = data[k].post %>
<% var replys = data[k].replys %>
  <div class="sidebar">

    <div class="forum-container">
        <a  href="/forum_post/<%= post.id %>">
            <ul>
                <li id="question-title"> <%= post.title %>
                </li>
                <li id="question-category"> <%= post.subject %> </li>
                <li id="question-comments"> <%= replys.length %> </li>
                <li id="question-views"> <%= post.views %> </li>
                <li id="question-activity"> <%= post.time %> </li>
            </ul>
        </a>
    </div>
  </div>
<% }) %>

</body>
</html>
