<link rel="stylesheet" href="/css/challenge-element.css" />

<script type="text/javascript">
    var redirect_challenge = function(challenge_title){
        var title = challenge_title.toLowerCase();
        var challenge_uri = title.split(' ').join('-');
        window.location='/editor/' + challenge_uri;
    }
</script>

<% data.forEach(function(question) { %>
    <div id="<%= question.title %>" class="challenge-element">
        <div id="challenges-element-left-col" class="column">
            <div>
                <% if(question.complete){ %>
                <img class="completed-image" src="../img/checked.svg" />
                <% } else { %>
                <img class="completed-image" src="../img/cross.svg" />
                <% } %>
                <div class="challenge-heading" > <%= question.title %> </div>
            </div>
            <br/>
            <div id="challenge-description">  <%= question.question %> </div>
        </div>
        <div id="challenges-element-right-col" class="column">
            <% if(session_valid){ %>
            <% var complete = "Not yet!"; if (question.complete) complete = "Complete!" %>
            <div class="passed-percentage" > Passed: <%= complete %> </div>
            <div class="try-again-button" onclick="redirect_challenge('<%=question.id%>')" >
            Try Again
            </div>
            <% } else { %>
                <div class="passed-percentage" >  </div>
                <div class="solve-button" onclick="redirect_challenge('<%= question.id %>')"> Solve </div>
            <% } %>
        </div>
    </div>
    <br/>
<% }) %>
