<% Object.keys(data.fullForums).forEach(function(k){ %>
<% var post = data.fullForums[k].post %>
<% var replys = data.fullForums[k].replys %>
<% var user = data.fullForums[k].user %>
  <div class="sidebar">
    <div class="forum-container">
        <a  href="/forum_post/<%= post.id %>">
            <ul>
                <li> <img  id="profile-image" src="/<%= user.image %>"/> [<%= user.username %>] </li>
                <li> <%= post.title %> </li>
                <li> <%= post.subject %> </li>
                <li> <%= replys.length %> </li>
                <li> <%= post.views %> </li>
                <li> <%= post.votes %> </li>
                <li> <%= post.time %> </li>
            </ul>
        </a>
    </div>
  </div>
<% }) %>
